<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.peterkimeli.hostelmkononi">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="whateverString"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:appComponentFactory">
        <activity android:name=".MpesaActivity"/>
        <activity android:name=".FilterRoomActivity" />
        <activity android:name=".AboutActivity" />
        <activity android:name=".ComplaintsActivity" />
        <activity android:name=".NoticesActivity" />
<!--        <activity android:name=".ListAdapterActivity" /> -->
        <activity android:name=".RegisterActivity"/>
        <activity android:name=".LoginActivity"/>
        <activity android:name=".DashboardActivity"/>
        <activity android:name=".HomeActivity"/>
        <activity android:name=".ShowSingleRecordActivity" />
        <activity android:name=".PrivacyActivity" />
        <activity android:name=".AllHostelsActivity" />
        <activity android:name=".AskActivity" /> 
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".WelcomeActivity" />
        <activity
            android:name=".HomeMenuActivity"
            android:label="@string/title_activity_home"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".DashMenuActivity" />
        <activity android:name=".UserLoginActivity" />
        <activity android:name=".MainActivity">
        </activity>
    </application>

</manifest>